Repository edsphinx/risejack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'cd packages/contracts && forge fmt'

feat(api): add comprehensive test suite with Bun
  apps/api/package.json
  apps/api/src/__mocks__/prisma.ts
  apps/api/src/__tests__/integration/app.test.ts
  apps/api/src/__tests__/routes/events.test.ts
  apps/api/src/__tests__/routes/leaderboard.test.ts
  apps/api/src/__tests__/routes/referrals.test.ts
  apps/api/src/__tests__/routes/users.test.ts
  apps/api/src/__tests__/services/event.service.test.ts
  apps/api/src/__tests__/services/game.service.test.ts
  apps/api/src/__tests__/services/leaderboard.service.test.ts
  apps/api/src/__tests__/services/referral.service.test.ts
  apps/api/src/__tests__/services/user.service.test.ts
  apps/api/src/__tests__/setup.ts
Due: eslint --fix, prettier --write

feat(api): add HTTPS/TLS support for local development
  apps/api/.gitignore
  apps/api/src/index.ts
Due: eslint --fix, prettier --write

fix: TypeScript error in useRiseWallet params
  apps/web/src/hooks/useRiseWallet.ts
Due: eslint --fix, prettier --write

feat(web): add API client and event logging integration
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useEventLogger.ts
  apps/web/src/hooks/useGameActions.ts
  apps/web/src/hooks/useWalletConnection.ts
  apps/web/src/lib/api.ts
Due: eslint --fix, prettier --write

feat(web): add Leaderboard UI component and page
  apps/web/src/app.tsx
  apps/web/src/components/game/Leaderboard.tsx
  apps/web/src/pages/LeaderboardPage.tsx
Due: eslint --fix, prettier --write

feat(indexer): add XP bonus system and referral earnings
  apps/indexer/main.go
Due: none

docs: add Merkle Drop feature to roadmap and create TODO.md
  docs/ROADMAP.md
  docs/TODO.md
Due: prettier --write

fix: Address all PR review issues
  apps/web/src/app.tsx
  apps/web/src/components/wallet/WalletConnect.tsx
  apps/web/src/components/wallet/styles/mobile-header.css
  apps/web/src/hooks/useRiseWallet.ts
  apps/web/src/pages/Home.tsx
Due: eslint --fix, prettier --write

fix: Address second round PR review issues
  apps/web/src/app.tsx
  apps/web/src/components/wallet/WalletConnect.tsx
  packages/shared/src/types/components.ts
Due: eslint --fix, prettier --write

docs: expand Merkle Drop with Uniswap distributor and CHIP token
  docs/TODO.md
Due: prettier --write

refactor: Centralize all types in @risejack/shared
  apps/web/src/components/wallet/SessionModals.tsx
  apps/web/src/hooks/useRiseWallet.ts
  packages/shared/src/types/components.ts
Due: eslint --fix, prettier --write

refactor: Clean architecture with subcomponents and formatters
  apps/web/src/components/home/ComingSoonCard.tsx
  apps/web/src/components/home/FeaturedGameCard.tsx
  apps/web/src/components/home/LiveStats.tsx
  apps/web/src/components/home/WinsTicker.tsx
  apps/web/src/components/wallet/WalletConnect.tsx
  apps/web/src/components/wallet/WalletDropdown.tsx
  apps/web/src/components/wallet/WalletTrigger.tsx
  apps/web/src/lib/formatters.ts
  apps/web/src/pages/Home.tsx
Due: eslint --fix, prettier --write

feat(web): add Referrals UI dashboard
  apps/web/src/app.tsx
  apps/web/src/components/game/ReferralsDashboard.tsx
  apps/web/src/pages/ReferralsPage.tsx
Due: eslint --fix, prettier --write

fix: Update imports to use UseRiseWalletReturn from shared
  apps/web/src/context/WalletContext.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useGameState.ts
Due: eslint --fix, prettier --write

feat(leaderboard): change metrics to XP/Volume/Biggest Win/Win Streak
  apps/api/src/repositories/game.repository.ts
  apps/api/src/routes/leaderboard.ts
  apps/api/src/services/leaderboard.service.ts
  apps/web/src/components/game/Leaderboard.tsx
  apps/web/src/lib/api.ts
  packages/shared/src/types/api.ts
Due: eslint --fix, prettier --write

fix: Add safe number parsing to prevent NaN crashes
  apps/web/src/app.tsx
  apps/web/src/lib/formatters.ts
Due: eslint --fix, prettier --write

feat: add Live Activity Ticker for social proof and FOMO
  apps/api/src/index.ts
  apps/api/src/routes/activity.ts
  apps/web/src/components/game/LiveActivityTicker.tsx
  apps/web/src/pages/Home.tsx
Due: eslint --fix, prettier --write

fix: Add race condition guard for auto-session creation
  apps/web/src/hooks/useRiseWallet.ts
Due: eslint --fix, prettier --write

feat(schema): add multichain support with Chain model
  apps/api/prisma/schema.prisma
Due: none

fix: Address fourth round PR review issues
  apps/web/src/hooks/useRiseWallet.ts
Due: eslint --fix, prettier --write

feat(web): add GameHistoryAPI component for API-backed history
  apps/web/src/components/game/GameHistoryAPI.tsx
Due: eslint --fix, prettier --write

fix: Add robustness and accessibility improvements
  apps/web/src/components/wallet/SessionModals.tsx
  apps/web/src/lib/formatters.ts
Due: eslint --fix, prettier --write

perf: Reduce balance polling from 10s to 30s for mobile battery optimization
  apps/web/src/hooks/useRiseWallet.ts
Due: eslint --fix, prettier --write

feat: Add error boundaries and optimize mobile menu animations
  apps/web/src/app.tsx
  apps/web/src/components/common/ErrorBoundary.tsx
  apps/web/src/components/wallet/styles/mobile-header.css
Due: eslint --fix, prettier --write

feat: Mobile UI/UX optimization + Lobby redesign (#18)
  apps/indexer/go.mod
  apps/indexer/main.go
  apps/web/src/app.tsx
  apps/web/src/components/common/ErrorBoundary.tsx
  apps/web/src/components/game/GameBoard.tsx
  apps/web/src/components/game/styles/action-buttons.css
  apps/web/src/components/game/styles/casino-table.css
  apps/web/src/components/game/styles/hand.css
  apps/web/src/components/game/styles/playing-card.css
  apps/web/src/components/home/ComingSoonCard.tsx
  apps/web/src/components/home/FeaturedGameCard.tsx
  apps/web/src/components/home/LiveStats.tsx
  apps/web/src/components/home/WinsTicker.tsx
  apps/web/src/components/wallet/SessionModals.tsx
  apps/web/src/components/wallet/WalletConnect.tsx
  apps/web/src/components/wallet/WalletDropdown.tsx
  apps/web/src/components/wallet/WalletTrigger.tsx
  apps/web/src/components/wallet/styles/desktop-dropdown.css
  apps/web/src/components/wallet/styles/mobile-header.css
  apps/web/src/components/wallet/styles/session-modal.css
  apps/web/src/context/WalletContext.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useGameState.ts
  apps/web/src/hooks/useRiseWallet.ts
  apps/web/src/lib/formatters.ts
  apps/web/src/pages/Home.tsx
  apps/web/src/pages/styles/home.css
  docs/README.md
  docs/architecture/BACKEND_EVALUATION.md
  packages/shared/src/types/components.ts
Due: eslint --fix, prettier --write

feat: Mobile UI/UX optimization + Lobby redesign (#18)
  apps/indexer/go.mod
  apps/indexer/main.go
  apps/web/src/app.tsx
  apps/web/src/components/common/ErrorBoundary.tsx
  apps/web/src/components/game/GameBoard.tsx
  apps/web/src/components/game/styles/action-buttons.css
  apps/web/src/components/game/styles/casino-table.css
  apps/web/src/components/game/styles/hand.css
  apps/web/src/components/game/styles/playing-card.css
  apps/web/src/components/home/ComingSoonCard.tsx
  apps/web/src/components/home/FeaturedGameCard.tsx
  apps/web/src/components/home/LiveStats.tsx
  apps/web/src/components/home/WinsTicker.tsx
  apps/web/src/components/wallet/SessionModals.tsx
  apps/web/src/components/wallet/WalletConnect.tsx
  apps/web/src/components/wallet/WalletDropdown.tsx
  apps/web/src/components/wallet/WalletTrigger.tsx
  apps/web/src/components/wallet/styles/desktop-dropdown.css
  apps/web/src/components/wallet/styles/mobile-header.css
  apps/web/src/components/wallet/styles/session-modal.css
  apps/web/src/context/WalletContext.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useGameState.ts
  apps/web/src/hooks/useRiseWallet.ts
  apps/web/src/lib/formatters.ts
  apps/web/src/pages/Home.tsx
  apps/web/src/pages/styles/home.css
  docs/README.md
  docs/architecture/BACKEND_EVALUATION.md
  docs/growth/DATA_SCHEMA.md
  docs/growth/GROWTH_STRATEGY.md
  packages/shared/src/types/components.ts
Due: eslint --fix, prettier --write

feat(indexer): add minimal Docker image (9MB scratch base)
  apps/indexer/.dockerignore
  apps/indexer/Dockerfile
  apps/indexer/go.mod
Due: none

feat: Implement route-based lazy loading for code splitting
  apps/web/src/app.tsx
  apps/web/src/components/common/PageLoader.tsx
  apps/web/src/components/common/page-loader.css
  apps/web/src/pages/Home.tsx
  apps/web/src/pages/RiseJack.tsx
  apps/web/src/pages/Stake.tsx
  apps/web/src/pages/Swap.tsx
Due: eslint --fix, prettier --write

fix: add missing balance props to WalletConnect in app.tsx
  apps/web/src/app.tsx
Due: eslint --fix, prettier --write

feat: Add animated splash screen with heavy deps preloading
  apps/web/src/app.tsx
  apps/web/src/components/common/AppLoader.tsx
  apps/web/src/components/common/app-loader.css
Due: eslint --fix, prettier --write

fix: add env vars to turbo.json for Vercel build
  turbo.json
Due: prettier --write

fix: add prisma generate to API build for Vercel
  apps/api/package.json
Due: prettier --write

fix: use count instead of aggregate for betAmount string field
  apps/api/src/routes/activity.ts
Due: eslint --fix, prettier --write

feat: Sticky LiveStats bar and compact mobile game history
  apps/web/src/components/game/GameBoard.tsx
  apps/web/src/components/game/MobileHistory.tsx
  apps/web/src/components/game/styles/casino-table.css
  apps/web/src/components/game/styles/mobile-history.css
  apps/web/src/pages/styles/home.css
Due: eslint --fix, prettier --write

style(mobile): poker-style compact card stacking
  apps/web/src/components/game/styles/hand.css
Due: prettier --write

docs: add roadmap structure and Card Engine architecture
  docs/README.md
  docs/architecture/CARD_ENGINE.md
Due: prettier --write

docs: add Minimal RPG plan and update roadmap phases
  docs/README.md
Due: prettier --write

fix(api): resolve TypeScript errors for multichain Prisma schema
  apps/api/src/__tests__/routes/referrals.test.ts
  apps/api/src/__tests__/routes/users.test.ts
  apps/api/src/repositories/event.repository.ts
  apps/api/src/repositories/game.repository.ts
  apps/api/src/repositories/referral.repository.ts
  apps/api/src/repositories/user.repository.ts
  apps/api/src/routes/events.ts
  apps/api/src/routes/referrals.ts
  apps/api/src/services/event.service.ts
  apps/api/src/services/leaderboard.service.ts
Due: eslint --fix, prettier --write

chore: migrate sensitive docs to private repository
  docs/README.md
Due: prettier --write

chore: sanitize public docs, remove sensitive strategy details
  docs/architecture/BACKEND_EVALUATION.md
  docs/architecture/CARD_ENGINE.md
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  bash -c 'cd packages/contracts && forge fmt': any of: packages/contracts/**/*.sol
