Repository edsphinx/risejack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'cd packages/contracts && forge fmt'

docs(contracts): update README with coverage table and add code conventions
  packages/contracts/CONVENTIONS.md
  packages/contracts/README.md
Due: prettier --write

feat(tokens): add two-step ownership and UX events to CHIPWrapper and TokenFactory
  packages/contracts/src/tokens/CHIPWrapper.sol
  packages/contracts/src/tokens/TokenFactory.sol
  packages/contracts/test/CHIPWrapper.t.sol
Due: bash -c 'cd packages/contracts && forge fmt'

fix(api): address Amazon Q security review comments
  apps/api/src/middleware/admin.ts
  apps/api/src/repositories/event.repository.ts
  apps/api/src/repositories/game.repository.ts
  apps/api/src/repositories/user.repository.ts
  apps/api/src/routes/activity.ts
  apps/api/src/routes/auth.ts
  apps/api/src/routes/events.ts
  apps/api/src/routes/leaderboard.ts
  apps/api/src/routes/referrals.ts
  apps/api/src/routes/users.ts
  apps/api/src/services/auth.ts
  apps/api/src/services/event.service.ts
  apps/api/src/services/game.service.ts
  apps/api/src/services/leaderboard.service.ts
  apps/api/src/services/referral.service.ts
  apps/api/src/services/user.service.ts
  apps/web/src/components/common/Footer.tsx
Due: eslint --fix, prettier --write

test(tokens): add comprehensive test suites for CHIPWrapper and TokenFactory
  packages/contracts/src/tokens/TokenFactory.sol
  packages/contracts/test/CHIPWrapper.t.sol
  packages/contracts/test/TokenFactory.t.sol
Due: bash -c 'cd packages/contracts && forge fmt'

feat(branding): update Logo component to full SVG with symbol and text
  apps/web/index.html
  apps/web/public/favicon.svg
  apps/web/src/components/brand/Logo.tsx
  apps/web/src/components/brand/styles/brand.css
Due: eslint --fix, prettier --write

feat(branding): add 3D shadow effect and black border to logo
  apps/web/src/components/brand/Logo.tsx
Due: eslint --fix, prettier --write

test(CHIPWrapper): improve branch coverage to 94%
  packages/contracts/test/CHIPWrapper.t.sol
Due: bash -c 'cd packages/contracts && forge fmt'

test(TokenFactory): improve branch coverage to 100%
  packages/contracts/test/TokenFactory.t.sol
Due: bash -c 'cd packages/contracts && forge fmt'

test(registries): add comprehensive test suites for XPRegistry and ReferralRegistry
  packages/contracts/test/ReferralRegistry.t.sol
  packages/contracts/test/XPRegistry.t.sol
Due: bash -c 'cd packages/contracts && forge fmt'

test(oracles): add comprehensive PriceOracle test suite
  packages/contracts/test/PriceOracle.t.sol
Due: bash -c 'cd packages/contracts && forge fmt'

test(vaults): add TableVault and TableVaultFactory test suite
  packages/contracts/test/TableVault.t.sol
Due: bash -c 'cd packages/contracts && forge fmt'

test(vaults): add comprehensive tests for remaining vault contracts
  packages/contracts/test/BondingCurve.t.sol
  packages/contracts/test/LPVesting.t.sol
  packages/contracts/test/MemeTokenSink.t.sol
Due: bash -c 'cd packages/contracts && forge fmt'

test: improve coverage for vaults contracts
  packages/contracts/test/LPVesting.t.sol
  packages/contracts/test/TableVault.t.sol
Due: bash -c 'cd packages/contracts && forge fmt'

test: add BondingCurve constructor validation tests
  packages/contracts/test/BondingCurve.t.sol
Due: bash -c 'cd packages/contracts && forge fmt'

feat(contracts): add missing events for better UX/UI
  packages/contracts/src/oracles/PriceOracle.sol
  packages/contracts/src/registries/ReferralRegistry.sol
  packages/contracts/src/vaults/BondingCurve.sol
  packages/contracts/src/vaults/LPVesting.sol
  packages/contracts/src/vaults/MemeTokenSink.sol
Due: bash -c 'cd packages/contracts && forge fmt'

fix: use SafeERC20 and fix divide-before-multiply warnings
  packages/contracts/src/core/VyreCasino.sol
  packages/contracts/src/tokens/TokenFactory.sol
  packages/contracts/src/vaults/TableVault.sol
Due: bash -c 'cd packages/contracts && forge fmt'

fix: eliminate all src/ warnings using SafeCast
  packages/contracts/src/games/casino/VyreJackCore.sol
  packages/contracts/src/games/standalone/VyreJackERC20.sol
  packages/contracts/src/games/standalone/VyreJackETH.sol
  packages/contracts/src/registries/XPRegistry.sol
Due: bash -c 'cd packages/contracts && forge fmt'

fix: eliminate ALL test warnings using SafeERC20 and vm.addr
  packages/contracts/test/CHIPToken.t.sol
  packages/contracts/test/TokenFactory.t.sol
  packages/contracts/test/VyreCasino.invariant.t.sol
  packages/contracts/test/VyreJack.invariant.t.sol
  packages/contracts/test/staking/VyreStaking.invariant.t.sol
  packages/contracts/test/staking/VyreStaking.medusa.sol
  packages/contracts/test/staking/VyreStaking.t.sol
Due: bash -c 'cd packages/contracts && forge fmt'

security: add ReentrancyGuard to VyreJackETH._safePayout()
  packages/contracts/src/games/standalone/VyreJackETH.sol
Due: bash -c 'cd packages/contracts && forge fmt'

security: apply all Amazon Q security fixes
  .github/workflows/frontend.yml
  apps/api/src/middleware/jwt.ts
  apps/api/src/routes/auth.ts
  apps/api/src/services/auth.ts
Due: eslint --fix, prettier --write

feat: implement real ioredis connection to Redis Labs
  apps/api/package.json
  apps/api/src/services/auth.ts
Due: eslint --fix, prettier --write

chore: update bun.lock with new dependencies
  bun.lock
Due: none

fix(ci): remove --frozen-lockfile due to cross-platform lockfile issues
  .github/workflows/frontend.yml
Due: prettier --write

fix: improve loading animation and faucet balance check
  apps/web/public/favicon.png
  apps/web/src/components/common/LoadingScreen.css
  apps/web/src/components/common/LoadingScreen.tsx
  apps/web/src/components/wallet/FaucetModal.tsx
  apps/web/src/components/wallet/styles/faucet.css
  apps/web/src/hooks/useFaucet.ts
  apps/web/src/services/faucet.service.ts
Due: eslint --fix, prettier --write

feat: make LiveWinsTicker sticky on scroll
  apps/web/src/components/home/WinsTicker.css
Due: prettier --write

feat: unify loading experience with casino theme
  apps/web/src/components/common/AppLoader.tsx
  apps/web/src/components/common/PageLoader.tsx
  apps/web/src/components/common/app-loader.css
  apps/web/src/components/common/page-loader.css
Due: eslint --fix, prettier --write

fix: redesign loading screens with minimalist approach
  apps/web/src/components/common/AppLoader.tsx
  apps/web/src/components/common/PageLoader.tsx
  apps/web/src/components/common/app-loader.css
  apps/web/src/components/common/page-loader.css
Due: eslint --fix, prettier --write

fix: align progress bar width to match logo width
  apps/web/src/components/common/app-loader.css
Due: prettier --write

refactor: use static SVG logo for simpler loading
  apps/web/public/vyrecasino-logo.svg
  apps/web/src/components/common/AppLoader.tsx
  apps/web/src/components/common/app-loader.css
Due: eslint --fix, prettier --write

fix: correct logo SVG viewBox and align progress bar
  apps/web/public/vyrecasino-logo.svg
  apps/web/src/components/common/app-loader.css
Due: prettier --write

fix: reduce logo and progress bar to 260px for proper alignment
  apps/web/src/components/common/app-loader.css
Due: prettier --write

feat: new loading animation with pulsing rings
  apps/web/src/components/common/AppLoader.tsx
  apps/web/src/components/common/app-loader.css
Due: eslint --fix, prettier --write

fix: reduce Logo viewBox to eliminate dead space
  apps/web/src/components/brand/Logo.tsx
Due: eslint --fix, prettier --write

fix: further reduce Logo viewBox (290px) to center properly
  apps/web/src/components/brand/Logo.tsx
Due: eslint --fix, prettier --write

fix: reduce Logo viewBox to 275px for better centering
  apps/web/src/components/brand/Logo.tsx
Due: eslint --fix, prettier --write

feat: casino-themed loading with orbiting cards
  apps/web/src/components/common/AppLoader.tsx
  apps/web/src/components/common/app-loader.css
Due: eslint --fix, prettier --write

fix: reduce heart symbol size to match other cards
  apps/web/src/components/common/app-loader.css
Due: prettier --write

fix: reduce heart to 1.3rem (75% size)
  apps/web/src/components/common/app-loader.css
Due: prettier --write

feat: restructure Home page layout
  apps/web/src/components/home/FeaturedGameCard.tsx
  apps/web/src/pages/Home.tsx
  apps/web/src/pages/styles/home.css
Due: eslint --fix, prettier --write

feat: expand LeaderboardPreview for desktop
  apps/web/src/components/home/LeaderboardPreview.css
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  bash -c 'cd packages/contracts && forge fmt': any of: packages/contracts/**/*.sol
