Repository edsphinx/risejack: changes, and which Codecov flags are due for each by the changed paths.
All: contracts, Core Game (RiseJack), DeFi AMM, CHIP Token, Staking

codecov.yml:

# Codecov Configuration for RiseJack
# Documentation: https://docs.codecov.com/docs/codecov-yaml
# Repository: https://github.com/edsphinx/risejack

# Coverage precision and display settings
coverage:
  precision: 2
  round: down
  range: '70...100'

  # Status checks - block PRs that don't meet coverage requirements
  # https://docs.codecov.com/docs/commit-status
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error
        informational: false

      # Separate status for DeFi contracts (higher standards)
      defi:
        target: 85%
        threshold: 1%
        paths:
          - 'packages/contracts/src/defi/**'
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%
        # Don't block PRs on patch coverage, just inform
        informational: true

    changes:
      default:
        # Notify when coverage decreases on changed files
        informational: true

# Ignore test files, scripts, and mocks from coverage calculation
ignore:
  - 'packages/contracts/test/**'
  - 'packages/contracts/script/**'
  - 'packages/contracts/src/mocks/**'
  - '**/*.t.sol'
  - '**/*.s.sol'
  - '**/*.medusa.sol'

# Flags - group coverage by test type
# https://docs.codecov.com/docs/flags
flags:
  contracts:
    paths:
      - packages/contracts/src/
    carryforward: true
    # After how many uploads to start reporting (helps with parallel CI)
    after_n_builds: 1

# Components - virtual path filters for detailed reporting
# https://docs.codecov.com/docs/components
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core_game
      name: 'Core Game (RiseJack)'
      paths:
        - packages/contracts/src/RiseJack.sol
    - component_id: defi_amm
      name: 'DeFi AMM'
      paths:
        - packages/contracts/src/defi/RiseCasino*.sol
    - component_id: defi_token
      name: 'CHIP Token'
      paths:
        - packages/contracts/src/defi/CHIPToken.sol
    - component_id: defi_staking
      name: 'Staking'
      paths:
        - packages/contracts/src/defi/*Staking*.sol

# PR Comment configuration
# https://docs.codecov.com/docs/pull-request-comments
comment:
  # Layout options: header, diff, flags, components, tree, files, footer
  layout: 'condensed_header, diff, flags, components, condensed_footer'
  behavior: default
  # Only comment when coverage changes
  require_changes: true
  # Don't require base commit (helps with new branches)
  require_base: false
  require_head: true
  # Hide individual file coverage for cleaner comments
  hide_project_coverage: false

# GitHub Checks integration
github_checks:
  annotations: true

feat(session-keys): implement auto-reactivate pattern for session key persistence
  apps/web/src/components/game/GameBoard.tsx
  apps/web/src/components/wallet/WalletConnect.tsx
  apps/web/src/components/wallet/WalletDropdown.tsx
  apps/web/src/components/wallet/styles/desktop-dropdown.css
  apps/web/src/hooks/useGameActions.ts
  apps/web/src/hooks/useSessionKey.ts
  apps/web/src/hooks/useWalletConnection.ts
  apps/web/src/lib/gamePermissions.ts
  apps/web/src/lib/riseWallet.ts
  apps/web/src/services/sessionKeyManager.ts
  docs/GAME_FLOW_ANALYSIS.md
  docs/IMPLEMENTATION_PLAN.md
Due: none

chore: remove indexer (moved to private repo)
  apps/indexer/.dockerignore
  apps/indexer/.env.example
  apps/indexer/Dockerfile
  apps/indexer/go.mod
  apps/indexer/go.sum
  apps/indexer/main.go
Due: none

chore: remove internal docs (moved to private repo)
  docs/GAME_FLOW_ANALYSIS.md
  docs/IMPLEMENTATION_PLAN.md
Due: none

fix: add ox dependency for porto P256 signing
  apps/web/package.json
  bun.lock
Due: none

fix: pin ox@0.9.8 and rise-wallet@0.3.0 to match Meteoro
  apps/web/package.json
  bun.lock
Due: none

Fix/game errors and fast mode (#22)
  apps/api/prisma/seed.ts
  apps/indexer/.dockerignore
  apps/indexer/.env.example
  apps/indexer/Dockerfile
  apps/indexer/go.mod
  apps/indexer/go.sum
  apps/indexer/main.go
  apps/web/package.json
  apps/web/src/app.tsx
  apps/web/src/components/game/GameBoard.tsx
  apps/web/src/components/wallet/WalletConnect.tsx
  apps/web/src/components/wallet/WalletDropdown.tsx
  apps/web/src/components/wallet/WalletRecoveryModal.tsx
  apps/web/src/components/wallet/styles/desktop-dropdown.css
  apps/web/src/hooks/useGameActions.ts
  apps/web/src/hooks/useGameState.ts
  apps/web/src/hooks/useRiseWallet.ts
  apps/web/src/hooks/useSessionKey.ts
  apps/web/src/hooks/useWalletConnection.ts
  apps/web/src/lib/gamePermissions.ts
  apps/web/src/lib/riseWallet.ts
  apps/web/src/lib/walletRecovery.ts
  apps/web/src/main.tsx
  apps/web/src/services/sessionKeyManager.ts
  bun.lock
  packages/shared/src/types/components.ts
Due: none

feat(game-flow): add multi-tab detection and disable actions in background tabs
  apps/web/src/components/game/GameBoard.tsx
  apps/web/src/hooks/useTabFocus.ts
Due: none

fix(useTabFocus): add SSR-safe guards for document access
  apps/web/src/hooks/useTabFocus.ts
Due: none

feat(game-flow): add multi-tab detection and disable actions in backg… (#23)
  apps/web/src/components/game/GameBoard.tsx
  apps/web/src/hooks/useTabFocus.ts
Due: none

feat(faucet): implement CHIP faucet claim with session key support
  apps/web/src/components/wallet/FaucetModal.tsx
  apps/web/src/components/wallet/styles/faucet.css
  apps/web/src/hooks/useFaucet.ts
  apps/web/src/lib/abi/CHIPFaucet.ts
  apps/web/src/lib/faucet.ts
  apps/web/src/lib/gamePermissions.ts
  apps/web/src/services/faucet.service.ts
Due: none

feat(ui): add ChipIcon casino chip SVG component
  apps/web/src/components/icons/ChipIcon.tsx
Due: none

feat(wallet): display CHIP token balance with casino chip icon
  apps/web/src/components/wallet/WalletConnect.tsx
  apps/web/src/components/wallet/WalletDropdown.tsx
  apps/web/src/components/wallet/WalletTrigger.tsx
  apps/web/src/components/wallet/styles/desktop-dropdown.css
  apps/web/src/hooks/useChipBalance.ts
Due: none

feat(home): update Home page with faucet modal integration
  apps/web/src/components/home/FeaturedGameCard.tsx
  apps/web/src/pages/Home.tsx
  apps/web/src/pages/styles/home.css
Due: none

feat(ui): add common components and game UI improvements
  apps/web/src/components/common/AppLoader.tsx
  apps/web/src/components/common/Footer.css
  apps/web/src/components/common/Footer.tsx
  apps/web/src/components/common/LoadingScreen.css
  apps/web/src/components/common/LoadingScreen.tsx
  apps/web/src/components/common/app-loader.css
  apps/web/src/components/game/Leaderboard.tsx
  apps/web/src/components/game/PlayerStats.tsx
  apps/web/src/components/game/XPPopup.css
  apps/web/src/components/game/XPPopup.tsx
Due: none

feat(home): add live activity features
  apps/web/src/components/home/LeaderboardPreview.css
  apps/web/src/components/home/LeaderboardPreview.tsx
  apps/web/src/components/home/LiveWinsTicker.tsx
  apps/web/src/components/home/PoweredByRise.css
  apps/web/src/components/home/PoweredByRise.tsx
  apps/web/src/components/home/WinsTicker.css
  apps/web/src/hooks/useLeaderboardSubscription.ts
  apps/web/src/hooks/useLiveWins.ts
  apps/web/src/services/live-activity.service.ts
Due: none

feat(api): add authentication and user repository updates
  apps/api/scripts/recalculate-levels.ts
  apps/api/src/middleware/jwt.ts
  apps/api/src/repositories/user.repository.ts
  apps/api/src/routes/auth.ts
  apps/api/src/services/auth.ts
Due: none

feat(shared): add XP utility functions
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/xp.ts
Due: none

chore: update web assets, docs, and lock file
  README.md
  apps/web/index.html
  apps/web/public/favicon.png
  apps/web/src/lib/api.ts
  bun.lock
  packages/contracts/DEPLOYMENTS.md
  packages/contracts/script/DeployCHIP.s.sol
  packages/contracts/script/DeploySafe.s.sol
Due: none

chore: add hardhat-deploy to gitignore
  .gitignore
Due: none

feat(contracts): add complete casino ecosystem contracts
  README.md
  packages/contracts/script/DeployFullEcosystem.s.sol
  packages/contracts/src/BondingCurve.sol
  packages/contracts/src/CHIPWrapper.sol
  packages/contracts/src/LPVesting.sol
  packages/contracts/src/MemeTokenSink.sol
  packages/contracts/src/PriceOracle.sol
  packages/contracts/src/ReferralRegistry.sol
  packages/contracts/src/RiseCasino.sol
  packages/contracts/src/RiseTreasury.sol
  packages/contracts/src/TableVault.sol
  packages/contracts/src/TokenFactory.sol
  packages/contracts/src/XPRegistry.sol
  packages/contracts/src/defi/CHIPToken.sol
  packages/contracts/src/defi/RiseCasinoRouter.sol
  packages/contracts/src/defi/RiseCasinoV2Core.sol
  packages/contracts/src/interfaces/IRiseGame.sol
  packages/contracts/test/amm/RiseCasinoAMM.invariant.t.sol
  packages/contracts/test/amm/RiseCasinoAMM.medusa.sol
  packages/contracts/test/amm/RiseCasinoAMM.t.sol
Due: contracts, DeFi AMM, CHIP Token

chore(branding): rebrand Rise* to Vyre* across contracts
  packages/contracts/script/Deploy.s.sol
  packages/contracts/script/DeployCHIP.s.sol
  packages/contracts/script/DeploySafe.s.sol
  packages/contracts/src/ReferralRegistry.sol
  packages/contracts/src/VyreCasino.sol
  packages/contracts/src/VyreJack.sol
  packages/contracts/src/VyreTreasury.sol
  packages/contracts/src/defi/CHIPToken.sol
  packages/contracts/src/defi/VyreStaking.sol
  packages/contracts/src/interfaces/IVyreGame.sol
  packages/contracts/test/VyreJack.invariant.t.sol
  packages/contracts/test/VyreJack.medusa.sol
  packages/contracts/test/VyreJack.t.sol
  packages/contracts/test/staking/VyreStaking.invariant.t.sol
  packages/contracts/test/staking/VyreStaking.medusa.sol
  packages/contracts/test/staking/VyreStaking.t.sol
Due: contracts, CHIP Token, Staking

chore: regenerate lockfile after @vyrejack/shared rename
  bun.lock
Due: none

refactor: complete package rename to @vyrejack namespace
  .github/workflows/frontend.yml
  apps/api/package.json
  apps/web/package.json
  bun.lock
  packages/contracts/package.json
Due: none

ci: remove --frozen-lockfile to fix cross-OS lockfile issues
  .github/workflows/frontend.yml
Due: none

test: update CHIPToken.t.sol to expect 'Vyre Chip' after rebranding
  packages/contracts/test/CHIPToken.t.sol
Due: none

security: address Amazon Q review findings
  apps/api/scripts/recalculate-levels.ts
  apps/api/src/middleware/jwt.ts
  apps/api/src/services/auth.ts
  apps/web/src/components/wallet/FaucetModal.tsx
Due: none

feat(ux): implement full keyless experience with 30-day session keys
  apps/web/src/components/wallet/SessionModals.tsx
  apps/web/src/hooks/useRiseWallet.ts
  apps/web/src/hooks/useSessionKey.ts
  apps/web/src/services/sessionKeyManager.ts
Due: none

feat(ux): change session keys to permanent (~10 years)
  apps/web/src/components/wallet/SessionModals.tsx
  apps/web/src/services/sessionKeyManager.ts
Due: none

feat(ux): implement Meteoro keyless pattern using eth_accounts
  apps/web/src/hooks/useWalletConnection.ts
Due: none

fix(ui): improve Fast Mode display for permanent sessions
  apps/web/src/app.tsx
  apps/web/src/lib/formatters.ts
Due: none

fix(ui): improve Fast Mode section layout for permanent sessions
  apps/web/src/app.tsx
  apps/web/src/components/wallet/WalletDropdown.tsx
  apps/web/src/components/wallet/styles/desktop-dropdown.css
Due: none

feat(contracts): add core casino architecture (VyreCasino, VyreTreasury)
  packages/contracts/src/core/VyreCasino.sol
  packages/contracts/src/core/VyreTreasury.sol
Due: contracts

feat(contracts): add game contracts (VyreJackCore, VyreJackETH, VyreJackERC20)
  packages/contracts/src/games/casino/VyreJackCore.sol
  packages/contracts/src/games/standalone/VyreJackERC20.sol
  packages/contracts/src/games/standalone/VyreJackETH.sol
Due: contracts

feat(contracts): add token contracts (CHIPToken, VyreStaking)
  packages/contracts/src/tokens/CHIPWrapper.sol
  packages/contracts/src/tokens/TokenFactory.sol
  packages/contracts/src/tokens/defi/CHIPToken.sol
  packages/contracts/src/tokens/defi/VyreStaking.sol
Due: contracts

feat(contracts): add registries and infrastructure (XP, Referral, Vaults, Oracles)
  packages/contracts/src/oracles/PriceOracle.sol
  packages/contracts/src/registries/ReferralRegistry.sol
  packages/contracts/src/registries/XPRegistry.sol
  packages/contracts/src/vaults/BondingCurve.sol
  packages/contracts/src/vaults/LPVesting.sol
  packages/contracts/src/vaults/MemeTokenSink.sol
  packages/contracts/src/vaults/TableVault.sol
Due: contracts

refactor(contracts): remove old flat structure files (moved to organized folders)
  packages/contracts/src/BondingCurve.sol
  packages/contracts/src/CHIPWrapper.sol
  packages/contracts/src/LPVesting.sol
  packages/contracts/src/MemeTokenSink.sol
  packages/contracts/src/PriceOracle.sol
  packages/contracts/src/ReferralRegistry.sol
  packages/contracts/src/TableVault.sol
  packages/contracts/src/TokenFactory.sol
  packages/contracts/src/VyreCasino.sol
  packages/contracts/src/VyreJack.sol
  packages/contracts/src/VyreTreasury.sol
  packages/contracts/src/XPRegistry.sol
  packages/contracts/src/defi/CHIPToken.sol
  packages/contracts/src/defi/VyreStaking.sol
Due: contracts, CHIP Token, Staking

test(contracts): add VyreCasino and VyreJackCore test suites (95%+ coverage)
  packages/contracts/test/VyreCasino.invariant.t.sol
  packages/contracts/test/VyreCasinoFork.t.sol
  packages/contracts/test/VyreCasinoIntegration.t.sol
  packages/contracts/test/VyreJackCore.t.sol
Due: none

fix(tests): update imports and fix warnings in existing test suites
  packages/contracts/test/CHIPToken.t.sol
  packages/contracts/test/VyreJack.invariant.t.sol
  packages/contracts/test/VyreJack.medusa.sol
  packages/contracts/test/VyreJack.t.sol
  packages/contracts/test/staking/VyreStaking.invariant.t.sol
  packages/contracts/test/staking/VyreStaking.medusa.sol
  packages/contracts/test/staking/VyreStaking.t.sol
Due: none

fix(contracts): update interfaces and deployment scripts for new structure
  packages/contracts/script/AddLiquidity.s.sol
  packages/contracts/script/Deploy.s.sol
  packages/contracts/script/DeployCHIP.s.sol
  packages/contracts/src/interfaces/IVyreGame.sol
Due: contracts
